body {
    height: 100%;
    width:100%;
    margin:0px;
    background:#0b1c33;
    background: url("imgs/bg.png");
    background-size: 2000px auto;
    /* overflow:hidden; */
    
}

.container {
    margin:10px; 
    width:100%-8px;
    background: #e9bd5f;
    
    border: 8px solid #f3eec5;
 
  
}


.loadingclass {
  margin: 0;
  position: absolute;
 
  
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

.list{
    background:#ccff00;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1{
    font-family: 'Courier New', Courier, monospace;
   
    font-size: 35px;
    
    color: #000000;

}
img{
   
    max-width:100%;
}
h2{
   
    font-family: 'Courier New', Courier, monospace;
    font-size:24;
    margin:10px;
    padding-left: 10px;
    color: #000000;
}
p {
  
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 20;
    margin:10px;
    padding-left: 10px;
  
  
}
a {
    color: #000000;
   
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px; 
    padding-left: 10px;

    margin-left: 10px;
    text-decoration: none;
}
.hiscores {
    color: red;
    font-size: 24px;
  }