body {
    height: 100%;
    margin:0px;
    background:#00aaaa;
    overflow:hidden;
    
}

.container { 
    width:500px;
    background: #535353;
    border: 8px solid #a6a6a6;
  
}


.loadingclass {
  margin: 0;
  position: absolute;
 
  
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 

.list{
    background:#ccff00;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin:10px;
    color: #049d04;

}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    margin:10px;
    color: #049d04;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: #049d04;
    font-size: 30px;
    margin:10px;
  
  
}
a {
    color: #049d04;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
}